List of requirements and/or ideas:
- Terminal based application
- Simple commands/instructions on how to use (GOOD README)
	- "Non-technical" users must be able to get this up and running with no difficulty
- What kind of hosting is this going to be? Do we host a server or can anyone(I think anyone m.)
	- Possibly no "third-party" server
	- Clients are able to locally setup or connect to "rooms" by use of a passphrase
